{% extends 'base.html' %}
{% block content %}

<h1>Create New Bucket Item</h1>

<form action="/add-item/process" method="POST">
  List: <select name="list">
    {% for item in lists %}
      <option value="{{ item.title }}">{{ item.title }}</option>
    {% endfor %}
  </select><br><br>
  <label>Title</label>
    <input type="text" name="title" placeholder="title" required><br><br>
  <label>Tour Link</label>
    <input type="url" name="tour-link"><br><br>
  <label>Location</label>&nbsp;&nbsp;
    Latitude: <input type="text" name="latitude">
    Longitude: <input type="text" name="longitude"><br><br>
  <label>Image</label>
    <input type="url" name="image" required><br><br>
  <label>Description</label>
    <input type="text" name="description"><br><br>
    <input type="hidden" name="username" value={{ session["username"] }}>
    <input type="submit">
</form>
{% endblock %}