<!doctype html>
<html>
<head>
  <title>WanderList</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="">
  {% block head %} heading goes here {% endblock %}
</head>
<body>
{% if email %}
  Hi {{ email }}!
  <a href="/my-lists" id="my-lists">My Lists</a>
  <button id="logout-button">Logout</button>
{% endif %}

{% if not email %}
  <button id="register-button">Register</button>
  <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();">
  </fb:login-button>
  <button id="login-button">Login</button>
{% endif %}
  <a href="/map">Map</a>
<form action="/search">
  <input type="search" name="public-search" placeholder="search">
  <input type="submit" value="Search"><br><br><br><br>
</form>
  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% block content %} put your content here {% endblock %}
</body>
</html>