{% extends 'base.html' %}
{% block head %}
<script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
<script src="/static/js/progressWave.js" language="JavaScript"></script>
<style>
    .liquidFillGaugeText { font-family: Times New Roman; font-weight: bold; }
</style>
{% endblock %}

{% block content %}

<h2> {{ bucket_list.title }} </h2>

<button id="create-new-item-button" data-list="{{ bucket_list.title }}">Create a new item</button>
<p> Progress: {{ progress }} </p>
<input type="hidden" id="bucket-id" value="{{ b_list }}">

<svg id="fillgauge" width="97%" height="250" onclick="">
  <pattern id = "globe" height = "100%" width = "100%"            
                   patternContentUnits = "objectBoundingBox">
       <image xlink:href = "https://s3-us-west-1.amazonaws.com/wanderlist-images/imageedit_1_8128406755.png" preserveAspectRatio = "none" width = "1.00" height = "1.00"/>
 </svg>



<script language="JavaScript">
    var bucketListId = $("#bucket-id").val();
    $.get('/progress.json', {"all_items": "False", "list_id": bucketListId}, function(results) {
        var items = results['all_list_items'];
        console.log(items);
        var checkedOffItems = results['checked_off_items'];
        console.log(checkedOffItems);
        var percentComplete = results['percentage_complete'];
        console.log(percentComplete);
        var gauge = loadLiquidFillGauge("fillgauge", percentComplete, config);
        var config = liquidFillGaugeDefaultSettings();
        config.textVertPosition = 0.8;
        config.waveAnimateTime = 5000;
        config.waveHeight = 0.15;
        config.waveOffset = 0.25;
        config.valueCountUp = false;
        config.displayPercent = false;

    });

</script>

<div>
  {% if bucket_list %}
    {% for item in bucket_list.priv_items %}
      {{ item.public_item.title }}<br>
        <a href="/{{ item.list_id }}/{{ item.id }}"></a>
        <input type="image" class="private-item" src="{{ item.public_item.image }}" class="private-image" 
        alt="Bucket Item" width="128" height="128" data-id="{{ item.id }}" 
        data-lat="{{ item.public_item.latitude }}" data-lon="{{ item.public_item.longitude }}" 
        data-tour="{{ item.tour_link }}" data-complete="{{ item.checked_off }}"
        data-title="{{ item.public_item.title }}" data-country="{{ item.public_item.country }}"
        data-address="{{ item.public_item.address }}" data-image="{{ item.public_item.image }}"><br>

    {% endfor %}
  {% endif %}
</div>


{% if bucket_list %}
<div class="modal fade" id="add-bucket-list-item" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create An Item</h4>
      </div>
      <div class="modal-body">
        <script src="https://maps.googleapis.com/maps/api/js?key={{ gm_api_key }}&libraries=places&callback=initAutocomplete" async defer></script>
        <style>
        #pac-input {
                background-color: #fff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                margin-left: 12px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 400px;
        }
        .pac-container {
                background-color: #FFF;
                z-index: 20;
                position: fixed;
                display: inline-block;
                float: left;
        }
        .modal{
            z-index: 20;   
        }
        .modal-backdrop{
            z-index: 10;        
        }​
        </style>
        Location:
        <input id="pac-input" class="controls" type="text" placeholder="Search Box" value="" autocomplete="on">
          <script>
            function initAutocomplete() {

              // Create the search box and link it to the UI element.
              var input = document.getElementById('pac-input');
              var searchBox = new google.maps.places.SearchBox(input);
              
              // Listen for the event fired when the user selects a prediction and retrieve
              // more details for that place.
              searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();
                  console.log(places);

                if (places.length == 0) {
                  return;
                }

                // For each place, get the icon, name and location.
                places.forEach(function(place) {
                  var latitude = place.geometry.location.lat();
                  var longitude = place.geometry.location.lng();
                  // Country is always the last index on address_components
                  var country = place.address_components[place.address_components.length-1].long_name;
                  var address = place.formatted_address;


                  document.getElementById('lat').value = latitude;
                  document.getElementById('lon').value = longitude;
                  document.getElementById('country').value = country;
                  document.getElementById('address').value = address;
                  console.log(document.getElementById('lat'));
                  console.log(document.getElementById('lon'));
                  console.log(document.getElementById('country'));
                  console.log(document.getElementById('address'));
                });
              });
            }

          </script>
        <br><br>
        <form action="/add-item/process" enctype="multipart/form-data" id="private-item-form" method="POST">
          <label>Title**</label>
            <input type="text" name="title" id="title" placeholder="title" required><br><br>
          <label>Tour Link</label>
            <input type="url" name="tour-link" id="tour-link"><br><br>
          <label>Image**</label>
            <input type="file" name="image" id="image" required><br><br>
          <label>Description</label>
            <input type="text" name="description" id="description"><br><br>
            <input id="lat" type="hidden" name="latitude" value="">
            <input id="lon" type="hidden" name="longitude" value="">
            <input id="country" type="hidden" name="country" value="">
            <input id="address" type="hidden" name="address" value="">

            <input type='hidden' name="list" id='list-title'>
            <input type="submit">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="private-item-details" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body" id="details">
        <span id="title-details"></span><br>
        <img src="" id="image-details" height="350"><br>
        <span id="address-details">Address: </span><br><br>
        <input type='submit' id='edit-button' value='Edit Item'>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endif %}


<script src="/static/js/itemDetailsModal.js"></script>
<script src="/static/js/addPrivateItemModal.js"></script>




{% endblock %}