{% extends 'base.html' %}
{% block head %}
<script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
<script src="/static/js/progressWave.js" language="JavaScript"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>

  .liquidFillGaugeText {
    font-family: cursive; font-weight: bold
    }

  #private-items-div {
    margin: 0 50px 20px 50px;
  }

  #photos {
     /* Prevent vertical gaps */
     line-height: 2;
     
     -webkit-column-count: 3;
     -moz-column-count:    3;
     column-count:         3;
     column-gap:           15px;
  }

  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    padding-bottom: 15px;
  }

  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }

  body {
    margin: 0;
    padding: 0;
  }

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
/*  height: 150px;*/
  left: 0;
  position: absolute;
  top: 0;
/*  width: 150px;*/
}

span.text-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  width: 100%;
  position: relative;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
/*  height: 150px;*/
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

  #bucket-list-title {
    text-align: left;
  }

  #progress-message {
    text-align: left;
  }

  #create-item-button {
    text-align: left;
  }

  #map-list-view-buttons {
    text-align: center;
  }

  .button {
  background: #d3f9ff;
  background-image: -webkit-linear-gradient(top, #d3f9ff, #006C7D);
  background-image: -moz-linear-gradient(top, #d3f9ff, #006C7D);
  background-image: -ms-linear-gradient(top, #d3f9ff, #006C7D);
  background-image: -o-linear-gradient(top, #d3f9ff, #006C7D);
  background-image: linear-gradient(to bottom, #d3f9ff, #006C7D);
  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  background: #006C7D;
  text-decoration: none;
  color: #ffffff;
}

 #title-details {
  font-size: 24px;
 }

 #fillgauge {
  display: inline-block;
  position: relative;
 }
 #bucket-list-title {
  text-align: center;
  font-size: 40px;
 }

 #create-item-button {
  text-align: center;
 }

 #progress-message {
  text-align: center;
  font-size: 20px;
 }

 #map-list-view-buttons {
  text-align: left;
  padding-left: 50px;
 }

 /* Loading Spinner */
#fountainG{
  position:relative;
  width:150px;
  height:18px;
  margin:auto;
}

.fountainG{
  position:absolute;
  top:0;
  background-color:rgba(0,156,184,0.96);
  width:18px;
  height:18px;
  animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
  animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
  border-radius:12px;
    -o-border-radius:12px;
    -ms-border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
}

#fountainG_1{
  left:0;
  animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#fountainG_2{
  left:19px;
  animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#fountainG_3{
  left:37px;
  animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#fountainG_4{
  left:56px;
  animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#fountainG_5{
  left:75px;
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#fountainG_6{
  left:94px;
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#fountainG_7{
  left:112px;
  animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

#fountainG_8{
  left:131px;
  animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
  0%{
  transform:scale(1);
    background-color:rgb(0,156,184);
  }

  100%{
  transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-o-keyframes bounce_fountainG{
  0%{
  -o-transform:scale(1);
    background-color:rgb(0,156,184);
  }

  100%{
  -o-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
  -ms-transform:scale(1);
    background-color:rgb(0,156,184);
  }

  100%{
  -ms-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
  -webkit-transform:scale(1);
    background-color:rgb(0,156,184);
  }

  100%{
  -webkit-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
  -moz-transform:scale(1);
    background-color:rgb(0,156,184);
  }

  100%{
  -moz-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}
 p {
  text-align: center;
 }

 #fillgauge {
    margin-left:auto; margin-right:auto; display:block;
  }

  .ui-state-default {
    margin: 0 5px 5px 0;
    font-size: 1.2em;
    width: 120px;
  }

  #sortable-itinerary {
    height: 300px;
  }

  .sortable-div {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    border: 2px solid black;
  }

  li {
    list-style: none;
    margin: 0;
  }

  ul {
    margin-left: auto;
    padding-left: 0;
  }

</style>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
<!--     <div class="col-xs-6">
      <br><br><br>
      <p id="bucket-list-title"> {{ bucket_list.title }} </p>
      <div id="create-item-button">
        <a href="#" class="btn btn-xs btn-info button" id="create-new-item-button" data-list="{{ bucket_list.title }}"><span class="glyphicon glyphicon-plus"></span> Create new item</a>
      </div>
    </div> -->
    <div class="col-xs-12">
      <input type="hidden" id="bucket-id" value="{{ b_list_id }}">
      <p id="bucket-list-title" hidden> {{ bucket_list.title }} </p>
      <div id="create-item-button" hidden>
        <a href="#" class="btn btn-xs btn-info button" id="create-new-item-button" data-list="{{ bucket_list.title }}"><span class="glyphicon glyphicon-plus"></span> Create new item</a>
      </div>
      <p id="progress-message">You've completed {{ progress }} of your bucket items!</p><br>
      <svg id="fillgauge" width="97%" height="250" onclick="">
        <pattern id = "globe" height = "100%" width = "100%"            
                   patternContentUnits = "objectBoundingBox">
        <image xlink:href = "https://s3-us-west-1.amazonaws.com/wanderlist-images/imageedit_1_8128406755.png" preserveAspectRatio = "none" width = "1.00" height = "1.00"/>
      </svg>
      <div id="loading">
        <div id="fountainG">
          <div id="fountainG_1" class="fountainG"></div>
          <div id="fountainG_2" class="fountainG"></div>
          <div id="fountainG_3" class="fountainG"></div>
          <div id="fountainG_4" class="fountainG"></div>
          <div id="fountainG_5" class="fountainG"></div>
          <div id="fountainG_6" class="fountainG"></div>
          <div id="fountainG_7" class="fountainG"></div>
          <div id="fountainG_8" class="fountainG"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map-list-view-buttons" hidden>
  <a href="#" class="btn btn-sm btn-info button" id="map-view">Map View</a>
  <button class="button" id="list-view" hidden>List View</button>
</div>
<script language="JavaScript">
    var bucketListId = $("#bucket-id").val();
    $.get('/progress.json', {"all_items": "False", "list_id": bucketListId}, function(results) {
        var items = results['all_list_items'];
        console.log(items);
        var checkedOffItems = results['checked_off_items'];
        console.log(checkedOffItems);
        var percentComplete = results['percentage_complete'];
        console.log(percentComplete);
        var gauge = setTimeout(function() {loadLiquidFillGauge("fillgauge", percentComplete, config);
        var config = liquidFillGaugeDefaultSettings();
        config.textVertPosition = 0.8;
        config.waveAnimateTime = 5000;
        config.waveHeight = 0.15;
        config.waveOffset = 0.25;
        config.valueCountUp = true;
        config.displayPercent = true;
        }, 800);
    });

</script>

<div id='sortable-itinerary'>
  {% for day in range(num_of_days) %}
    <div class="sortable-div">
    <ul id="sortable{{ day +1}}" class='connectedSortable'>
      Day {{day + 1}}
      <li class="ui-state-default">Draggable</li>
    </ul>
    </div>
  {% endfor %}
</div>


<script>
  $( function() {
    var sortables = '';
    for (i = 0; i < {{ num_of_days + 1}}; i++) {
      sortables += "#sortable";
      sortables += i;
      sortables += ", ";
    }
    console.log(sortables.slice(0,-2));
    $(sortables.slice(0,-2)).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );
</script>


<div id="private-items-div" hidden>
<section id="photos">
  <ul id="private-images" class="img-list">
  </ul>
</section>
</div>
<script>
        var images = {{ images | safe }};
        var allImages = "";
        images.forEach(function(element) {
        allImages += element;
        });
        $('#private-images').append(allImages);
</script>

<script>

  function initalizeGoogleMaps() {
    initMap();
    initAutocomplete();
  }
 $("#map-view").on("click", function() {
    $("#map").show();
    google.maps.event.trigger(map, "resize");
    map.setCenter(center);

    console.log("resized");
    $("#photos").hide();
    $("#map-view").hide();
    $("#list-view").show();
 });
 $("#list-view").on("click", function() {
    $("#photos").show();
    $("#map").hide();
    $("#list-view").hide();
    $("#map-view").show();
 });
</script>



{% if bucket_list %}
<div class="modal fade" id="add-bucket-list-item" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create An Item</h4>
      </div>
      <div class="modal-body">

        <style>
        #pac-input {
                background-color: #fff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                margin-left: 12px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 400px;
        }
        .pac-container {
                background-color: #FFF;
                z-index: 20;
                position: fixed;
                display: inline-block;
                float: left;
        }
        .modal{
            z-index: 20;   
        }
        .modal-backdrop{
            z-index: 10;        
        }​
        </style>
        Location:
        <input id="pac-input" class="controls" type="text" placeholder="Search Box" value="" autocomplete="on">
          <script>
            function initAutocomplete() {

              // Create the search box and link it to the UI element.
              var input = document.getElementById('pac-input');
              var searchBox = new google.maps.places.SearchBox(input);
              
              // Listen for the event fired when the user selects a prediction and retrieve
              // more details for that place.
              searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();
                  console.log(places);
                  debugger;

                if (places.length == 0) {
                  return;
                }

                // For each place, get the icon, name and location.
                places.forEach(function(place) {
                  var latitude = place.geometry.location.lat();
                  var longitude = place.geometry.location.lng();
                  // Country is always the last index on address_components
                  var country = place.address_components[place.address_components.length-1].long_name;
                  var address = place.formatted_address;


                  document.getElementById('lat').value = latitude;
                  document.getElementById('lon').value = longitude;
                  document.getElementById('address').value = address;

                  console.log(document.getElementById('lat'));
                  console.log(document.getElementById('lon'));
                  console.log(document.getElementById('address'));
                });
              });
            }

          </script>
        <br><br>
        <form action="/add-item/process" enctype="multipart/form-data" id="private-item-form" method="POST">
          <label>Title**</label>
            <input type="text" name="title" id="title" placeholder="title" required><br><br>
          <label>Tour Link</label>
            <input type="url" name="tour-link" id="tour-link"><br><br>
          <label>Image**</label>
            <input type="file" name="image" id="image" required><br><br>
          <label>Description</label>
            <input type="text" name="description" id="description"><br><br>
            <input id="lat" type="hidden" name="latitude" value="">
            <input id="lon" type="hidden" name="longitude" value="">
            <input id="address" type="hidden" name="address" value="">

            <input type='hidden' name="list" id='list-title'>
            <input type="submit">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="private-item-details" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body" id="details">
        <div id="item-details" hidden>
          <span id="title-details"></span><br>
          <img src="" id="image-details" height="350"><br>
          <span id="address-details">Address: </span><br>
          <span id="tour-link-details">Tour Link: </span><br>
          <span id="completed">Complete: </span><br>
          <input type='submit' id='edit-button' value='Edit Item'>
        </div>
        <div id="edit-item-details">
          <span id="edit-title-details"></span><br>
          <img src="" id="edit-image-details" height="350"><br>
          <span id="edit-address-details">Address: </span><br>
          <form action="/update-item" id="edit-details-form" name="edit-details-form" method="POST">
            Tour Link: <input type="text" id="edit-tour-link-details" name="edit-tour-link" value=""><br>
            Completed: <input type="checkbox" id="edit-checked-off" 
                            name="edit-checked-off" value="completed"><br>
            <input type="text" name="edit-item-id" id="edit-item-id" value="" hidden>
            <input type='submit' id='save-button' value='Save Changes'>
          </form>
          <form action="/delete-item" id="delete-form" name="delete-form" method="POST">
            <input type="text" name="item-id" id="item-id" value="" hidden>
            <input type="submit" name="delete-button" id="delete-button" value="Delete Item">
          </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endif %}


<script src="/static/js/itemDetailsModal.js"></script>
<script src="/static/js/addPrivateItemModal.js"></script>


  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 80%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>

<div id="map"></div>

<script>
  $("#map").hide();
  var map;
  var center = {lat: 47.36667, lng: 8.55};
  function initMap() {
    // Initalize a new map object
      map = new google.maps.Map(document.getElementById('map'), {
        center: center,
        zoom: 4
      });
      // Safe stops jinja from converting quotes to '&#39;
      var myLocations = {{ places | safe }};
      function setMarkers(map) {
        for (var i = 0; i < myLocations.length; i++) {
          var place = myLocations[i];
          var title = place[0];
          var address = place[3];
          var image = place[4];

          let contentString = "<h4>"+ title + "</h4><br><img width=128 src=" + image + "><br>" + address;
          console.log(contentString);

          var infowindow = new google.maps.InfoWindow();
          console.log(infowindow);
          
          var marker = new google.maps.Marker({
            position: {lat: place[1], lng: place[2]},
            map: map,
            title: place[0]
          });
          marker.addListener("click", function() {
            addWindow(this, infowindow, contentString)
          })

          marker.setMap(map);;
        }
      }

      function addWindow(marker, infowindow, contentString) {
          console.log(marker);
          console.log(infowindow);
          console.log(contentString);
          infowindow.setContent(contentString);
          infowindow.open(map, marker);
      }
    setMarkers(map)
    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(center);
    });
  }

  $('#private-items-div').imagesLoaded( function() {
    // images have loaded
    console.log('images loaded');
    $("#private-items-div").show();
    $("#bucket-list-title").show();
    $("#create-item-button").show();
    $("#map-list-view-buttons").show();
    $("#fillgauge").hide();
    $("#progress-message").hide();
    $("#loading").hide();

  });
</script>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key={{ gm_api_key }}&libraries=places&callback=initalizeGoogleMaps" async defer></script>






{% endblock %}