{% extends 'base.html' %}
{% block head %}
<script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1322395004515505"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
<style>
/*D3 Map*/

svg {
  margin-left:auto; 
  margin-right:auto; 
  display:block;
}


.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

#country-dropdown-form {
  text-align: center;
}

</style>

{% endblock %}

{% block content %}

<div id="tooltip-container"></div>
<div>
<form action="/search/country" id="country-dropdown-form" method='POST'>
  <select name="country-name" id="country-dropdown">
    {% for country in countries %}
      <option value="{{ country }}">{{ country }}</option>
    {% endfor %}
  </select>
  <input type="submit" name="country-search-dropdown-button" value="Search">
</form>

<div id="canvas-svg"></div>

<form action="/search/country" id="country-form" hidden method='POST'>
  <input type="text" id="country-name" name="country-name" value="">
  <input type="submit">
</form>
</div>

<script src="/static/js/choroplethMap.js"></script>

{% endblock %}