{% extends 'base.html' %}
{% block head %}
  <script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1322395004515505"></script>
{% endblock %}

{% block content %}
<div>
  {% if friends %}
    <div>
        <h3 id="friend-message">Find a Facebook Friend to go on a trip with!<h3>
    </div>
    {% for friend in friends %}
      <p class="friend-name" >{{ friend.first_name }} {{ friend.last_name }}</p>
      <a href="/profile/{{ friend.facebook_id }}">
      <img src="{{ friend.profile_picture }}" class="facebook-profile" alt="Profile Picture" width="128" height="128"data-toggle="tooltip" title="Click to see their bucket items!"></a><br>
    {% endfor %}
  {% else %}
    <br><br><br><br>
    <div>
        <h3 id="friend-message">Log in using Facebook to see your friends' lists!<h3>
        <fb:login-button scope="public_profile,email,user_friends" id="facebook-login" onlogin="checkLoginState();">
        </fb:login-button>
    </div>
  {% endif %}
</div>
{% endblock %}