{% extends 'base.html' %}

{% block head %}
<h1>Flight Search</h1>
{% endblock %}

{% block content %}

<form action="/flight-results" id="flight-form" method="GET">
  <label>Origin</label>
    <input type="text" name="origin" placeholder="SFO" required><br><br>
  <label>Destination</label>
    <input type="text" name="destination" placeholder="optional" default="-"><br><br>
  <label>Departure:</label>
    <select required name="depart-at">
      <option value="01">January</option>
      <option value="02">Febuary</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  <label>Return: (optional)</label>
    <select name="return-at">
      <option value="">All</option>
      <option value="01">January</option>
      <option value="02">Febuary</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  <input type="submit">
</form>

{% endblock %}