{% extends 'base.html' %}
{% block head %}

<h2>ADVENTURE AWAITS</h2>
<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1322395004515505"></script>
<!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="true" 
scope="public_profile,email" data-auto-logout-link="true" onlogin="checkLoginState();"></div> -->


<div id="fb-root"></div>
{% endblock %}

{% block content %}

<div id="status">
</div>
<div class="modal fade" id="facebook-login-registration" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form action='/facebook/login' id="email-username-submit" method='POST'>
          Please enter an email address and username.<br>
          This will allow you to login to WanderList without Facebook,<br>
          if you wish in the future.<br>
          Username: <input id="username" type="text" name="username"><br>
          Email: <input id="email" type="text" name="email">
          <input type="hidden" name="id" id="facebook-id">
          <input type="hidden" name="name" id="facebook-name">
          <input type="hidden" name="new" value="true">

          <input type="submit" value="submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




{% if email %}
  Hi {{ email }}!
  <p><a href="/my-lists">My Lists</a></p>
  <button id="logout-button">Logout</button>
{% endif %}

{% if not email %}
  <button id="register-button">Register</button>
  <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();">
  </fb:login-button><br>
  <button id="login-button">Login</button>
{% endif %}
  <p><a href="/map">Map</a></p>
  <p><a href="/flight-search">Search cheap flights by month</a></p>
<form action="/search">
  <input type="search" name="public-search" placeholder="search">
  <input type="submit" value="Search"><br><br>
</form>

<div>
  {% if public_items %}
    {% for item in public_items %}
      {{ item.title }} <br>
        <!-- <img src="{{ item.image }}" class="public-image" alt="Bucket Item" width="128" height="128"><br> --> 
        <input type="image" src="{{ item.image }}" class="public-image" 
              alt="Bucket Item" width="128" height="128" data-id="{{ item.id }}" data-title="{{ item.title }}"><br>
    {% endfor %}
  {% endif %}
</div>

{% if email %}
<div class="modal fade" id="add-private-item" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Item</h4>
      </div>
      <div class="modal-body">
        <form action='/add-item/public' id='public-item-modal' method='POST' novalidate>
            List: <select name="list" id='list-title'>
              {% for list in lists %}
                <option value="{{ list.title }}">{{ list.title }}</option>
              {% endfor %}
            </select><br><br>
          <input type='hidden' id='public-id'>
          <input type='submit' value='Add Item'>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <label>Email:</label>
            <input type="text" name="email" id="email" placeholder="email" required><br><br>
          <label>Password:</label>
            <input type="password" name="password" id="password" placeholder="password" required><br><br>
            <input type="submit" id="login-submit"value="Login">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registration</h4>
      </div>
      <div class="modal-body">
        <form action="/register" method="POST">
          <label>First Name:</label>
            <input type="text" id="first-name" name="first-name" placeholder="First Name"><br><br>
          <label>Last Name:</label>
            <input type="text" id="last-name" name="last-name" placeholder="Last Name"><br><br>  
          <label>Username:</label>
             <input type="text" id="username" name="username" placeholder="username"><br><br>
          <label>Password:</label>
            <input type="password" id="password" name="password" placeholder="password" required><br><br>
          <label>Email:</label>
            <input type="email" id="email" name="email" placeholder="email" required><br><br>
          <input type="submit" id="register-submit">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<script src="/static/js/addItemFromModals.js"></script>
<script src="/static/js/facebook.js"></script>
<script src="/static/js/loginModal.js"></script>
<script src="/static/js/registrationModal.js"></script>

{% endblock %}