{% extends 'base.html' %}
{% block content %}

Hello, World!

<p><a href="/register">Register</a></p>
<p><a href="/login">Login</a></p>
<p><a href="/logout">Logout</a></p>
<p><a href="/my-lists">My Lists</a></p>



<div>
  {% if public_items %}
    {% for item in public_items %}
      {{ item.title }} <br>
      <a href="/{{ item.public_item_id }}">
        <img src="{{ item.image}}" alt="Bucket Item" width="128" height="128"><br> 
      </a>
    {% endfor %}
  {% endif %}
</div>



{% endblock %}