{% extends 'base.html' %}

{% block head %}
<script src="/static/js/addItemFromModals.js"></script>
<script src="/static/js/itemDetailsModal.js"></script>
{% endblock %}

{% block content %}

<h2>Bucket Items in {{ country }}</h2>

<div id="search-image-div">
  <section id="photos">
    <ul id="public-images" class="img-list">
      {% for match in matched_items %}
        <li><a href='#'><img src='{{ match.public_item.image }}' data-title='{{ match.public_item.title }}' data-id='{{ match.id }}' class='private-image'><span class='text-content'>{{ match.public_item.title }}</span></a></li>
      {% endfor %}
    </ul>
  </section>
</div>

{% if email %}
<div class="modal fade" id="add-private-item" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add item</h4>
      </div>
      <div class="modal-body">
        <form action='/add-item/public' id='public-item-modal' method='POST'>
            List: <select name="list" id='list-title'>
              {% for list in lists %}
                <option value="{{ list.title }}">{{ list.title }}</option>
              {% endfor %}
            </select><br><br>
          <input type='hidden' id='public-id'>
          <input type='submit' value='Add Item'>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}


{% endblock %}