{% extends 'base.html' %}
{% block content %}

<div>
  {% if item_info %}
    {{ item_info.public_item.title }} <br>
    <img src="{{ item_info.public_item.image }}" alt="Image" width="128" height="128"><br>
    Latitude: {{ item_info.public_item.latitude }}
    Longitude: {{ item_info.public_item.longitude }} <br>
    Checked Off: {{ item_info.checked_off }}

    <form id="del-item" action="/delete-item" method='DELETE'>
      <input type="checkbox" name="delete-item" value="delete">
      <input type="hidden" name="item-id" value={{ item_info.id }}>
      <input id="del-button" type="submit" name="del-submit" value="DELETE">
    </form>
    <form action="/check-off-item" method="POST">
      <input type="checkbox" name="check-off" value="Check Off">
      <input type="hidden" name="item-id" value={{ item_info.id }}>
      <input type="hidden" name="list-id" value={{ item_info.list_id }}>
      <input type="submit" name="checked-submit" value="Check Off">
    </form>

  {% endif %}

<script src="https://code.jquery.com/jquery.js"></script>

<script>
  "use strict";

var deleteButton = document.getElementById('del-button');
var deleteForm = document.getElementById('del-item');

function alertDelete(evt) {
  evt.preventDefault();
  var response = confirm("Are you sure you want to delete your item?");
  if (response == true) {
    // Continue to /delete-add
    // window.location.replace("http://localhost:5000/delete-item");
    deleteForm.submit();
  } else {
    // Return back to page
    window.location.replace("http://localhost:5000");
  }
  };

deleteForm.addEventListener('submit', alertDelete)
</script>

</div>
{% endblock %}