{% extends 'base.html' %}
{% block content %}

<div>
  {% if item_info %}
    {{ item_info.public_item.title }} <br>
    <img src="{{ item_info.public_item.image }}" alt="Image" width="128" height="128"><br>
    Latitude: {{ item_info.public_item.latitude }}
    Longitude: {{ item_info.public_item.longitude }}

    <form id="del-item" action="/delete-item" method='POST'>
      <input type="checkbox" name="delete-item" value="delete">
      <input type="hidden" name="item-id" value={{ item_info.priv_item_id }}>
      <input id="del-button" type="submit" name="submit" value="DELETE">
    </form>
  {% endif %}

<script src="https://code.jquery.com/jquery.js"></script>

<script>
  "use strict";

var deleteButton = document.getElementById('del-button')

function alertDelete(evt) {
  evt.preventDefault();
  var deleteForm = document.getElementById('del-item')
  var response = confirm("Are you sure you want to delete your item?");
  if (response == true) {
    // Continue to /delete-add
    // window.location.replace("http://localhost:5000/delete-item");
    deleteForm.trigger('submit');
  } else {
    // Return back to page
    window.location.replace("http://localhost:5000");
  }
  };

deleteForm.addEventListener('submit', alertDelete)
</script>

</div>
{% endblock %}