{% extends 'base.html' %}
{% block head %}
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
{% endblock %}

{% block content %}

<div id="loading">
  <div id="fountainG" hidden>
    <div id="fountainG_1" class="fountainG"></div>
    <div id="fountainG_2" class="fountainG"></div>
    <div id="fountainG_3" class="fountainG"></div>
    <div id="fountainG_4" class="fountainG"></div>
    <div id="fountainG_5" class="fountainG"></div>
    <div id="fountainG_6" class="fountainG"></div>
    <div id="fountainG_7" class="fountainG"></div>
    <div id="fountainG_8" class="fountainG"></div>
  </div>
</div>


<h2 id="popular-items-heading">Popular Bucket Items</h2>
<div id="public-image-div" hidden>
<section id="photos">
  <ul id="public-images" class="img-list">
  </ul>
</section>
</div>
<script>
    $.get('/popluar-items.json', function(response) {
        var images = response;
        var allImages = "";
        console.log(images);
        images.forEach(function(element) {
        allImages += element;
        });
        console.log(allImages)
        $('#public-images').append(allImages);
    })

    $('#public-image-div').imagesLoaded( function() {
      // images have loaded
      console.log('images loaded');
      $("#public-image-div").show();
      $("#loading").show();
      });
</script>
<!-- <div>
  {% if public_items %}
    {% for item in public_items %}
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="public-image-container">
                <img src="{{ item.image }}" class="public-image" 
                      alt="Bucket Item" width="300" data-id="{{ item.id }}" data-title="{{ item.title }}">
            </div>
        </div>
    {% endfor %}
  {% endif %}
</div>
-->
{% if email %}
<div class="modal fade" id="add-private-item" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Item</h4>
      </div>
      <div class="modal-body">
        <form action='/add-item/public' id='public-item-modal' method='POST' novalidate>
            List: <select name="list" id='list-title'>
              {% for list in lists %}
                <option value="{{ list.title }}">{{ list.title }}</option>
              {% endfor %}
            </select><br><br>
          <input type='hidden' id='public-id'>
          <input type='submit' value='Add Item'>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% else %}
<div class="modal fade" id="add-private-item" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Item</h4>
      </div>
      <div class="modal-body">
        Please sign in to save this item to your bucket list
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endif %}

<ul class="pagination">
  {% for i in range(1, pages + 1) %}
      <li><a href="#">{{ i }}</a></li>
  {% endfor %}
</ul>

<script src="/static/js/addItemFromModals.js"></script>
{% endblock %}