{% extends 'base.html' %}
{% block head %}
<script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
<script src="/static/js/progressWave.js" language="JavaScript"></script>
<style>
    .liquidFillGaugeText { font-family: Times New Roman; font-weight: bold; }
</style>
{% endblock %}

{% block content %}

<button id="create-new-list-button">Create a new list</button><br>

Progress: {{ checked_off_items }} / {{ items }}<br><br>

  {% if user_bucket_lists %}
    {% for list in user_bucket_lists %}
      <a href="/my-lists/{{ list.id }}">{{ list.title }}</a><br><br>
    {% endfor %}
  {% endif %}

<div>
<svg id="fillgauge" width="97%" height="250" onclick="">
  <pattern id = "globe" height = "100%" width = "100%"            
                   patternContentUnits = "objectBoundingBox">
       <image xlink:href = "https://s3-us-west-1.amazonaws.com/wanderlist-images/imageedit_1_8128406755.png" preserveAspectRatio = "none" width = "1.00" height = "1.00"/>
 </svg>
<script language="JavaScript">
    $.get('/progress.json', {"all_items": "True"}, function(results) {
        var items = results['total_items'];
        console.log(items);
        var checkedOffItems = results['checked_items'];
        console.log(checkedOffItems);
        var percentComplete = results['percent_complete'];
        console.log(percentComplete);
        var gauge = loadLiquidFillGauge("fillgauge", percentComplete, config);
        var config = liquidFillGaugeDefaultSettings();
        config.textVertPosition = 0.8;
        config.waveAnimateTime = 5000;
        config.waveHeight = 0.15;
        config.waveOffset = 0.25;
        config.valueCountUp = false;
        config.displayPercent = false;

    });

</script>
</div>


{% if email %}
<div class="modal fade" id="add-bucket-list" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create A List</h4>
      </div>
      <div class="modal-body">
        <form action="/my-lists" id='list-modal' method='POST'>
          <label>Title: </label>
            <input type="text" name="title" id="list-title" placeholder="My Bucket List"><br><br>
            <input type="hidden" name="email" id="email" value={{ session["email"] }}>
            <input type="submit" value="Create">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}

<script src="/static/js/addListModal.js"></script>




{% endblock %}